@import url("../testinomial.css");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(223, 233, 243);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-nav a {
  color: white;
  font-weight: 600;
  letter-spacing: 1.5px;
  height: 50%;
}
.navbar-nav .dropdown-menu {
  background-color: black;
  text-align: center;
}
.navbar-nav .dropdown-menu a {
  color: white;
  text-align: center;
  letter-spacing: 0px;
}
.navbar-nav .dropdown-menu .dropdown-divider {
  border: 0.5px solid white;
  margin: -1px 0px 15px 0px;
}

.text {
  display: flex;
  align-items: center;
}
.text div {
  height: 50%;
}
.text h1 {
  text-transform: uppercase;
}

.pic {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pic img {
  width: 70%;
  height: 100%;
}

.contect-link {
  margin-bottom: 4.9%;
}
.contect-link form {
  padding-top: 10%;
}

.contect-text h1 {
  padding-top: 10%;
  text-transform: uppercase;
}
.contect-text p {
  text-align: justify;
}
.contect-text ul {
  padding: 0px;
}
.contect-text li {
  padding: 5px 0px;
}
.contect-text li a {
  font-weight: 400;
  color: black;
  font-style: italic;
}

.left-side {
  color: white;
  background-color: black;
}
.left-side .contact_img {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.left-side .contact_img img {
  border-radius: 120px;
  width: 240px;
  height: 240px;
}
.left-side .contact_info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin: 30px 12px;
}
.left-side .contact_info h2 {
  text-transform: uppercase;
}
.left-side .contact_info ul {
  padding: 0px;
}
.left-side .contact_info div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 25px;
}
.left-side .contact_info div span {
  color: gray;
  font-weight: 500;
}
.left-side .contact_info div p {
  margin: 0px 0px;
  font-weight: 700;
}
.left-side hr {
  color: white;
  width: 100%;
}

.right_side {
  border: 1px solid white;
  margin-top: 30px;
}
.right_side h2 {
  text-transform: uppercase;
}
.right_side p {
  text-align: justify;
}

.card-info {
  font-family: "Fjalla One" !important;
}

.slider-img {
  width: 100%;
  height: 70vh !important;
  -o-object-fit: cover;
     object-fit: cover;
}

.mySwiper img {
  width: 100%;
  height: 100%;
}
.mySwiper .swiper-pagination-bullet {
  background-color: white !important;
  color: white;
}

.experi {
  color: red !important;
  font-weight: 600 !important;
}

.proj {
  color: black !important;
}

.year {
  display: flex;
  gap: 2px;
  justify-content: center;
  margin-top: 8px;
}
.year span {
  width: 3.5%;
  height: 15%;
  border-radius: 3px;
  background-color: rgb(26, 4, 4);
  padding: 0px;
}
.year div {
  width: 3.5%;
  height: 15%;
  border-radius: 3px;
  background-color: red;
  color: red;
  padding: 0px;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about h2 {
  margin: 10% 0% 5% 0%;
  text-transform: uppercase;
}
.about p {
  text-align: left;
  font-size: 18px;
}

.codeable .col-lg-6 {
  padding: 0;
}
.codeable img {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.codeable-text {
  padding: 5% 8% 0 8% !important;
}
.codeable-text hr {
  width: 100%;
  border-radius: 8px;
  margin: 0px 0px 12% 0px;
  padding: 0px;
  border: 3px solid black;
}

.skill {
  margin-top: 5%;
  padding: 2% 0%;
  color: white;
  font-size: 18px;
}
.skill p {
  padding-top: 5%;
}
.skill hr {
  width: 20%;
  border-radius: 8px;
  margin: 0px;
  padding: 0px;
  border: 4px solid white;
}
.skill ul {
  padding: 17% 10%;
  margin-top: 2%;
}
.skill li {
  list-style: disc;
}

.skill-lern {
  padding: 8% 0%;
  color: white;
  font-size: 18px;
}
.skill-lern hr {
  width: 7%;
  border-radius: 8px;
  margin: 0px;
  padding: 0px;
  border: 4px solid white;
}
.skill-lern p {
  padding-top: 3%;
}
.skill-lern Button {
  padding-bottom: 8%;
  background-color: white;
  color: gray;
  outline: 0;
}

.light-click {
  width: 150px;
  height: 40px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0;
  border-radius: 5px;
  color: black;
  background-color: white;
  cursor: pointer;
}

.light-click:hover {
  background-color: black !important;
  color: white !important;
  transition: 0.9s;
}

.text-icon {
  border: 1px solid black;
  width: 150px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  border-radius: 5px;
  color: white;
  background-color: black;
  cursor: pointer;
}

.text-icon:hover {
  background-color: white !important;
  color: black !important;
  transition: 0.9s;
}

.mySwiper {
  margin: 12px 0px 50px 0;
}
.mySwiper .swiper-slide {
  width: 10px;
  height: 130px;
}
.mySwiper .swiper-slide div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.mySwiper .swiper-slide div img {
  width: 100%;
  height: 100%;
}

.ser-card {
  height: 350px;
  border-radius: 6px;
  box-shadow: -5px 5px 18px 2px #959595;
  background-color: white;
}
.ser-card .ser-icon {
  background-color: black;
  color: white;
  width: 23%;
  border-radius: 8px;
  margin: 20px 0px 0px 0px;
  height: 22%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ser-card .ser-icon svg {
  width: 45px;
  height: 45px;
}
.ser-card h4 {
  margin: 22px 0px;
  font-weight: 700;
}
.ser-card p {
  font-size: 16px;
  padding: 0px 20px 0px 0px;
}

@media screen and (max-width: 992px) {
  .navbar-nav {
    padding-top: 18px;
    display: flex;
    align-items: flex-start;
    gap: 20px;
  }
  .text {
    position: absolute;
    top: 40%;
    left: 0px;
  }
  .res-img {
    height: 90vh;
  }
  .res-img::before {
    content: "";
    z-index: 1;
    opacity: 0.25;
    position: absolute;
    top: 12%;
    left: 0px;
    background-image: url("../image/banner2.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 90%;
  }
  .pic {
    visibility: hidden;
  }
}/*# sourceMappingURL=style.css.map */